* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #91db84;
  margin: 0;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px;
  margin: 10px;
}

.logo {
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 360px) {
  .logo {
    width: 280px;
    height: 120px;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    width: 500px;
    height: 180px;
  }
}

@media screen and (min-width: 992px) {
  .logo {
    width: 500px;
    height: 180px;
    margin-bottom: 45px;
  }
}

.title {
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  color: white;
  margin-bottom: 60px;
}

.button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px;
  margin-bottom: 15px;
}

@media screen and (min-width: 992px) {
  .list-container {
    width: 600px;
    margin-bottom: 30px;
  }
}

.find-container {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn {
  padding: 8px;
  border-radius: 10px;
  border: 4px solid;
  background-color: #ffcc01;
  color: #2f68b3;
}

@media screen and (min-width: 360px) {
  .btn {
    margin: 5px;
  }
}

.btn-list {
  margin-left: 10px;
}

.name {
  font-size: 14px;
  border: transparent 0px;
}

.flex-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  margin-top: 30px;
}

.flex-container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-item {
  border-radius: 10px;
  list-style: none;
  /* padding: 40px; */
  background-color: #f4f4f4;
  color: #222;
  text-align: center;
}

.flex-item1 {
  width: 350px;
  margin-right: 68px;
  border-radius: 10px;
  list-style: none;
  /* padding: 40px; */
  background-color: #f4f4f4;
  color: #222;
  text-align: center;
}

.flex-item-title {
  font-size: 25px;
  margin-top: 0px;
}

.flex-item-subtitle {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 20px;
}

.flex-item-image {
  width: 200px;
  height: 200px;
}
/*# sourceMappingURL=styles.css.map */